[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sikoz
[access "refs/for/refs/*"]
	read = group user/sikoz
	push = group user/sikoz
	label-Code-Review = -2..+2 group user/sikoz
	label-Verified = -1..+1 group user/sikoz
	rebase = group user/sikoz
	removeReviewer = group user/sikoz
	submit = group user/sikoz
[access "refs/heads/*"]
	read = group user/sikoz
	create = group user/sikoz
	push = +force group user/sikoz
	pushMerge = group user/sikoz
[access "refs/tags/*"]
	push = group user/sikoz
	push = +force group user/sikoz
